.aboutMeSection {
  margin-top: 5rem;
  font-family: $font-stack;
  margin-bottom: 5.8rem;
}
.aboutMeSection .max-width {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMeSection .about-content {
  width: 105rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#mailto {
  font-size: 1.5rem;
}
.myImg img {
  height: 35rem;
  width: 38rem;
  object-fit: cover;
  border-radius: 6px;
}
.bioContainer {
  max-width: 55%;
}
.bioContainer p {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-weight: 300;
  color: #131313;
}
.bioContainer p a {
  font-size: 1.7rem;
  border-bottom: 1px solid black;
  color: black;
}
//PARAGRAPH SECTION
.bioParagraph {
  font-size: 2rem;
  text-align: justify;
  line-height: 2.4rem;
}
.dev-design-container {
  font-size: 2rem;
  font-family: $font-stack;
  font-weight: 500;
  margin-bottom: 1rem;
}
#spanOne,
#spanTwo,
#spanThree {
  font-family: "Tourney", sans-serif;
  font-size: 3.5rem;
}
#spanOne {
  color: rgb(173, 20, 220);
}
#spanTwo {
  color: rgb(25, 158, 25);
}
#spanThree {
  color: dodgerblue;
}
.resumeBtn {
  width: 240px;
  display: inline-block;
  background: $main-color;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 1.8rem;
  margin-top: 6rem;
  border-radius: 5px;
  letter-spacing: 0.1rem;
  border: 2px solid $main-color;
  transition: all 0.3s ease;
  text-align: center;
  &:hover {
    color: $main-color;
    background: none;
  }
}
.aboutMeHeader {
  border-radius: 5px;
  background-color: $main-color;
  max-width: 25rem;
  margin: auto;
  padding: 1rem 1.5rem 1rem 1.5rem;
  color: whitesmoke;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  font-weight: 400;
  font-family: $font-stack;
}

#ampersand {
  font-size: 1.8rem;
  color: black;
}

@media (max-width: 1300px) {
  .myImg img {
    height: 30rem;
    width: 30rem;
  }
  .bioContainer p {
    font-size: 1.5rem;
  }
  .aboutMeSection .max-width {
    max-width: 100%;
  }
  .aboutMeSection .about-content {
    width: 100%;
    // border: 1px solid rgb(59, 213, 64);
    // padding: 5px;
  }
  #mailto {
    font-size: 1.3rem;
  }
  .aboutMeSection {
    max-width: 100%;
  }
  .resumeBtn {
    margin-top: 30px;
    margin-bottom: -35px;
  }
}

@media (max-width: 1104px) {
  #spanOne,
  #spanTwo,
  #spanThree {
    font-size: 3rem;
  }
}

@media (max-width: 947px) {
  #mailto {
    font-size: 1.3rem;
  }
  .myImg img {
    height: 25rem;
    width: 25rem;
  }
  .aboutMeSection .about-content {
    width: 100%;
  }
  .bioContainer p {
    font-size: 1.5rem;
  }
}

@media (max-width: 875px) {
  .aboutMeSection .about-content {
    flex-direction: column;
  }
  .bioContainer {
    max-width: 100%;
  }
  .resumeBtn {
    margin-bottom: -30px;
  }
  .myImg img {
    margin-bottom: 35px;
    // border: 1px solid black;
  }
  .aboutMeHeader {
    margin-top: -5px;
  }
}

@media (max-width: 670px) {
  .bioContainer {
    max-width: 100%;
    p {
      font-size: 1.3rem;
    }
  }
  #mailto {
    font-size: 1.1rem;
  }
}
@media (max-width: 500px) {
  .dev-design-container {
    font-size: 2.1rem;
  }
}
@media (max-width: 530px) {
  #spanOne,
  #spanTwo,
  #spanThree {
    font-size: 2.3rem;
  }
  #ampersand {
    font-size: 1.3rem;
    color: black;
  }
}
